RPC_URL=https://api.devnet.solana.com
SETTLEMENT_PROGRAM_ID=8omCC2Q9SwwfRJQNkJ9UnFairpzHFkaWSeEd5nXjcooy

# matcher only
ENGINE_KEYPAIR_PATH=~/.config/solana/id.json
# ENGINE_KEYPAIR=[...] # for Railway — JSON array of secret key bytes
PORT=4000
